* {margin: 0;padding: 0;box-sizing: border-box;}
html, body { height: 100%; user-select: none; -webkit-tap-highlight-color: rgba(0,0,0,0);}
a {text-decoration: none;}
ul, li {list-style: none;}
img {display: block;}
.l {float: left;}
.r {float: right;}
.clear::after {display: block;content: "";clear: both;}
.active {background: yellowgreen;}
.hide {display: none;}

/*.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*/