.navlist{
	height:60px;
	width:100%;
	display:flex;
	.parli{
		float: left;
		flex:1;
		height:100%;
		text-align: center;
		line-height: 60px;
		position: relative;
		cursor: pointer;
		color: #333;
		line-height: 60px;
		font-size:14px;
		img{
			display:inline-block;
			margin-right: 10px;
			margin-top: 10px;
		}
	}
	.active{
		float: left;
		flex:1;
		height:100%;
		text-align: center;
		line-height: 60px;
		position: relative;
		cursor: pointer;
		color: #333;
		line-height: 60px;
		font-size:14px;
		border-bottom: 3px solid #ff527d;
		img{
			display:inline-block;
			margin-right: 10px;
			margin-top: 10px;
		}
	}
	.parli:hover{
		color:#ff527d;
	}
	.sonul{
		width:126px;
		background-color: #f9f9f9;
		.sonli{
			height: 39px;
			border-bottom: 1px #eee solid;
			width:116px;
			margin-left: 5px;
			line-height: 39px;
			text-align: center;
			display: block;
			cursor: pointer;
			color:#333;
			font-size: 12px; 
		}
	}
	.hide{
		display: none;
	}
	.sonli:hover{
		color: #ff527d;
	}
}